body {
    background-color: #efefef;
}
nav {
    background-color: #0077c2;
}

li {
    padding-right: 16px;
    
}
p {
font-size: large;
}

article {
    margin-bottom: 8px;
    padding: 8px;
    border: 2px solid #80d6ff;
}
.display-inline{
    display:inline;
}
